:root{
    --boxSize: 45px;
    --shipSize: 45px;
    --boxGap: 10px;
}

body {
    background-color: rgb(237, 237, 237);
}

.battleship {
    display: flex;
    justify-content: center;
    color: rgb(49, 49, 49);
    font-family: poppins;
}

.placeShipsSetup {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.playerSetupBoard, .playerBoard, .botBoard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 3px;
    width: 500px;
    height: 500px;
}

.shipsContainer {
    padding: 75px 0 25px;
    display: flex;
    gap: var(--boxGap);

}

.cell {
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    max-width: 45px;
    border-style: solid;
    border-radius: 15%;
    border-color: grey;
}

/* .draggable{
    position: relative;
} */

.dragging{
    opacity: .5;
}

#carrier, #battleship, #destroyer, #submarine, #patrol {
    height: 45px;
    border-radius: 5px;
}

#carrier {
    height: var(--shipSize);
    width: calc((var(--shipSize) * 5 ));
    background-color: red;
}

#battleship {
    width: calc(var(--shipSize) * 4);
    background-color: blue;
}

#destroyer {
    width: calc(var(--shipSize) * 3);
    background-color: blueviolet;
}

#submarine {
    width: calc(var(--shipSize) * 3);
    background-color: aqua;
}

#patrol {
    width: calc(var(--shipSize) * 2);
    background-color: chartreuse;
}

.gameContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
}

.hidden {
    display: none;
}


